<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Upload</title>
   
</head>
<body>
    <!-- <header>
        <h1>COVID-19 X-ray Analyzer</h1>
    </header> -->
    <main>
        <div class="container">
            <section id="upload-section">
                <h2>Upload X-ray Image</h2>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="image" id="imageInput" accept=".jpg, .jpeg, .png" />
                    <button class="button" type="submit">Predict</button>
                </form>
                
            </section>
            <a class="button" href="{{ url_for('home') }}">Back to Home</a>
        </div>
    </main>
</body>
</html>
